/* * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
} */

body { font-family: 'Montserrat', sans-serif; }

a { text-decoration: none; }

.btnMenu {
	display: none;
	padding: 20px;
	display: block;
	background: #1abc9c;
	color: #fff;
}

.btnMenu i.fa { float: right; }

.accordion-menu {
    width: 100%;
    /* min-width: 300px; */
    /* margin: 50px; */
    display: flex;
    /* line-height: 18px; */
}
.btn-group ul li:last-child{
	justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0.3rem 0 0.5rem 0;
	display: flex;
	flex-direction: column;
}
.btn-group ul li:first-child{
	justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0 0.3rem 0;
	display: flex;
	flex-direction: column;
}
li{
	justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0.3rem 0;
	display: flex;
    flex-direction: column; 
}
.btn-group ul li:hover{
    background: rgb(238, 238, 238);
}
.accordion-menu .menu {
    padding-top: 0.8rem;
     width: 100%; 
    }

.accordion-menu ul { list-style: none; }

.accordion-menu .menu li a {
    color: #1d557d;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    background: transparent;
}

/* .accordion-menu .menu ul li a:hover{
	background: #eaf5fd;
} */
.accordion-menu .menu li a:hover { 
	text-decoration: none;
}
.accordion-menu .menu i.fa {
	font-size: 12px;
	line-height: 18px;
	float: right;
	margin-left: 10px;
}
ul li a i{
	padding-right: 0.3rem;
}
.accordion-menu .menu ul {
	display: none; 
	width: 100%;
	padding: 0;
}
.li2:first-child{
    padding-top: 0.8rem ;
}
/* .li2:last-child{
    padding: 0.5rem 0;
} */
.li2{
    padding: 0.5rem 0;
}
.accordion-menu .menu ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #424242;
}
.accordion-menu .menu .active > a {
    background: #3376a7;
    color: #fff!important;
    border-width: 20px 7px 20px 0;
    border-color: transparent #f2f3f8 transparent transparent !important;
    content: " ";
    right: 0;
    top: 0;
    height: 3rem;
    border-style: solid;
}
.menu{
	margin: 0;
    width: 100%;
    list-style: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: 0;
}